<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
            <img class="logo-img" src="/img/header/logo.png" alt="logo" loading="lazy" />
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
        d="M27.125 7.5V10.0833H3.875V7.5H27.125ZM3.875 23H27.125V20.4167H3.875V23ZM3.875 16.5417H27.125V13.9583H3.875V16.5417Z"
        fill="#010101" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#chase">Signal</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#move">Journey</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#signal">Fragments</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#every">Silence</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#wait">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#chase">Signal</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#move">Journey</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#signal">Fragments</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#every">Silence</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#wait">Contact</a>
        </li>
    </ul>
</div>