<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <h1 class="home-title">It started as this thing you could barely make out</h1>
            <div class="home-text-wrapper">
                <p>At first, it felt like background noise.<br />
                A distant pulse somewhere behind the static.<br />
                Too slow to be random. Too alive to ignore.
</p>
<p>So here I am, floating in this tin can somewhere off the beaten path, with coordinates that probably haven't been
updated since before I was born.<br/>
There is no map leading where you need to go.<br />
Just this signal that keeps coming back, like it's waiting for you to finally pay attention.
</p>
            </div>
        </div>
            <picture>
                <source srcset="
                            /img/home/desk.png  1x,
                            /img/home/desk@2x.png 2x
                            " media="(min-width: 1439px)" />
                <source srcset="
                            /img/home/mob.png  1x,
                            /img/home/mob@2x.png 2x
                            " media="(max-width: 1438px)" />
                <img src="/img/home/mob.png" alt="LongSignal: Echo Drift" loading="lazy" />
            </picture>
    </div>
</section>